<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%X{akkaTimestamp} %-5level[%thread] %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="slick" level="INFO"/>
    <logger name="slick.ast" level="INFO"/>
    <logger name="slick.compiler" level="INFO"/>
    <logger name="slick.jdbc.JdbcBackend.statement" level="INFO"/>
    <logger name="slick.jdbc.StatementInvoker.result" level="INFO"/>
    <logger name="org.todo.gnat" level="INFO"/>
    <logger name="akka" level="DEBUG" />

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>